#image_frame {
	border-width:0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-image:url('../images/rotator-frame.png');
	z-index:999;
}
#curtain {
	border-width: 0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-image:url('../images/draftkings-curtain.png');
	background-color:black;
	z-index:998;
}
#odds {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:834px;
	background-color:black;
	z-index: -1;
}
#player {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:834px;
	background-color:black;
	z-index: -1;
}
#playerImage {
	border-width: 0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-color:black;
	z-index: 996;
}
#playerMaskTop {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:70px;
	background-color:black;
	z-index:997;
}
#playerMaskBottom {
	border-width: 0;
	position:absolute;
	top:797px; left:33px;
	width:1534px; height:70px;
	background-color:black;
	z-index:997;
}
