#image_frame {
	border-width:0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-image:url('../images/rotator-frame.png');
	z-index:999;
}
.curtain_div {
	border-width: 0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-image:url('../images/draftkings-curtain.png');
	background-color:black;
	z-index:998;
}
.odds_frame {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:834px;
	background-color:black;
	z-index: -1;
}
.player_div {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:834px;
	background-color:black;
	z-index: -1;
}
.playerImage_div {
	border-width: 0;
	position:absolute;
	top:0; left:0;
	width:1600px; height:900px;
	background-color:black;
	z-index: 996;
}
.playerMaskTop_div {
	border-width: 0;
	position:absolute;
	top:33px; left:33px;
	width:1534px; height:70px;
	background-color:black;
	z-index:997;
}
.playerMaskBottom_div {
	border-width: 0;
	position:absolute;
	top:797px; left:33px;
	width:1534px; height:70px;
	background-color:black;
	z-index:997;
}
