<!DOCTYPE html>
<html>
<link href="/stylesheets/main.css" rel="stylesheet">

<iframe id='image_frame'></iframe>
<iframe id='odds'></iframe>
<div id='player'></div>
<div id='curtain'></div>
<div id='playerMaskTop'></div>
<div id='playerMaskBottom'></div>
<div id='playerImage'></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/scripts/settings.js"></script>
<script>
"use strict";

// ------------------------------------------------------------------
// Settings Vars 
//

var hash = <%-JSON.stringify(hash)%>
var settings = <%-JSON.stringify(settings)%>


// ------------------------------------------------------------------
// YouTube Player 
//
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
function onYouTubeIframeAPIReady() {
	player = new YT.Player('player', {
	  playerVars: {
		'autoplay': 1,
		'controls': 0,
		'modestbranding':1
      },
	  events: {
		'onReady': onPlayerReady,
		'onStateChange': onPlayerStateChange
	  }
	});
}

var player_latch = false;	// use a latch to deal with bouncing ENDED state changes

// this is only triggered on initializing the player
function onPlayerReady(event) {
	event.target.mute();
	rotateInserts();
}

// we're using this event to transition to a video, or rotate when a video completes
function onPlayerStateChange(event) {
	if(event.data == YT.PlayerState.ENDED) {
		if(player_latch) {
			player_latch = false;
			if(showing_insert.hangtime === undefined) {
				rotateInserts();
			} else {
				setTimeout(function() { rotateInserts(); }, showing_insert.hangtime*1000);
			}
		}
	}
	if(event.data == YT.PlayerState.PLAYING) {
		showPlayer();
		player_latch = true;
	}
}


// ------------------------------------------------------------------
// Insert Control Functions

function showOdds() {
	$('#player').css('zIndex',-1);
	$('#odds').css('zIndex',0);
	$('#playerImage').hide();
	$('#playerMaskTop').hide();
	$('#playerMaskBottom').hide();
	$('#curtain').fadeOut(settings.fadein_time*1000);
}

function showPlayer() {
	$('#odds').css('zIndex',-1);
	$('#player').css('zIndex',0);
	$('#playerImage').hide();
	$('#playerMaskTop').show();
	$('#playerMaskBottom').show();
	$('#curtain').fadeOut(settings.fadein_time*1000);
	
	// if there's an image member included with this ad,
	// this will ease-in the video's ad freeze frame 2 seconds
	// before the end of the clip
	if(showing_insert.image !== undefined) {
		setTimeout(
			function() {
				$('#playerImage').css(
					'background-image',
					'url(images/' + showing_insert.image + ')'
				);
				$('#playerImage').fadeIn(100);
			},
			(showing_insert.endtime - showing_insert.starttime - 2) * 1000
		);
	}
}


// flip precached insert to top and start loading next insert on back frame
function rotateInserts() {
	$("#curtain").fadeIn(settings.fadeout_time*1000, function() {
		setTimeout(function() {
			showing_insert = getNextInsert();
			if(showing_insert.type == "YouTube") {
				player.loadVideoById(
					{'videoId': showing_insert.url,
					 'startSeconds': showing_insert.starttime,
					 'endSeconds': showing_insert.endtime
				});
			} else {
				$("#odds").attr('src', showing_insert.url);
			}
		}, settings.curtain_hangtime*1000);
	});
}

function getNextInsert() {
	if (odds_count++ < odds_count_setting) {
		return getNextOdds();
	}
	odds_count = 0;
	return getNextAd();
}


// ------------------------------------------------------------------
// Odds Functions

// get current odds board URL based on the odds_rotation_index
function getNextOdds() {
	var url = settings.main_odds_url + settings.sports.find(
		sport => sport.name === settings.odds_rotation[odds_rotation_index].name
	).url;
	var time = settings.odds_rotation[odds_rotation_index].time;
	if(time == null) time = settings.odds_rotation_time_default;
	incOddsRotation();
	return { url: url, time: time, type: 'odds' };
}

// increment odds boards counter to next board in rotation
function incOddsRotation() {
	odds_rotation_index++;
	if (odds_rotation_index >= settings.odds_rotation.length) {
		odds_rotation_index = 0;
	}
}


// ------------------------------------------------------------------
// Ads Functions

// get current ad URL based on the ads_rotation_index
function getNextAd() {
	var ad = settings.ads.find(
		ad => ad.name === settings.ads_rotation[ads_rotation_index].name
	);

	// increment ads counter to next ad in rotation
	ads_rotation_index++;
	if (ads_rotation_index >= settings.ads_rotation.length) {
		ads_rotation_index = 0;
	}

	return {
		type: ad.type,
		url: ad.url,
		starttime: ad.starttime,
		endtime: ad.endtime,
		image: ad.image,
		hangtime: ad.hangtime
	};
}


// ------------------------------------------------------------------
// Start of Execution

// setup iframe stack
var insert_cache_toggle = true;
var odds_rotation_index = 0;
var ads_rotation_index = 0;
var odds_count_setting = 2;
var odds_count = 0;

var player_buffer = true;
var odds_buffer = true;

var showing_insert;

// catch the load event of the odds display and carry-out the transition
$("#odds").on('load', function() {
	// wait a second after load is complete for odds board to settle
	setTimeout(function() {
		showOdds();
		setTimeout(function() {rotateInserts(); }, showing_insert.time*1000);
	}, 1000); 
});

// start rotation and start periodically checking for settings updates
setTimeout(function() { checkSettings(); }, settings.settings_check_time*1000);

</script>
</html>
